<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.label :comment %><br>
        <%= f.text_field :body %>
    </p>
         <p>
        <%= f.label :별점 %><br>
        <div id="star-rating"></div>
    </p><br>
    </p>
    </p><br>
    <p>
        <%= f.submit %>
    </p>
 
<% end %>

<script>
    $('#star-rating').raty({
        path: '/assets/',
        scoreName: 'post.rating'
    });
</script>