<!--<style>-->
<!--  <style>-->
<!--@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);s-->
<!--h2,h3{-->
<!--  text-align:center;-->
<!--}-->
<!--#title{-->
<!-- margin-top: 100px;-->
<!-- text-align:center;-->
<!--}-->
<!--#field{-->
<!--  font-family: 'Nanum Gothic';-->
<!--  margin-left:auto;-->
<!--  margin-right:auto;-->
<!--  text-align:center;-->
<!--}-->
<!--#login{-->
<!--  border-image: url(border.png) 30;-->
<!--  height:60vh;-->
<!--  font-family: 'Nanum Gothic';-->
<!--  position: relative;-->
<!--  display: block;-->
<!--  overflow: hidden;-->
<!--  white-space: nowrap;-->
<!--  text-align:center;-->
<!--  border: 15px solid rgba(255, 192, 203, 0.5);-->
<!--  border-radius :16px;-->
<!--  width: 500px;-->
<!--  margin: 100px auto;-->
<!--  padding-top: 10px;-->
<!--  padding-bottom: 10px;-->
  <!--/*border-width:5px;*/-->
  <!--/*border-color:#ed4747;*/-->
  <!--/*text-shadow: 0 0 10px #fff,*/-->
  <!--/*0 0 20px #fff,*/-->
  <!--/*0 0 30px #fff,*/-->
  <!--/*0 0 40px #ff00de,*/-->
  <!--/*0 0 70px #ff00de,*/-->
  <!--/*0 0 80px #ff00de,*/-->
  <!--/*0 0 100px #ff00de,*/-->
  <!--/*0 0 150px #ff00de;*/-->
<!--  background-color: rgba(255, 255, 255, 0.8);-->
<!--}-->
<!--body{-->
<!--  background-image:url("https://thumb.wishbeen.com/ZBKn0Kg0eF7RJhmILI-GhNOfJgc=/880x/smart/filters:no_upscale()/img-wishbeen.akamaized.net/post/1452668892263_7821194334_721d3377dc_h.jpg");-->
<!--  background-attachment: fixed; -->
<!--  background-repeat: yes-repeat; -->
<!--  background-position:bottom right;-->
<!--  background-size:cover;-->
  
<!--} -->
<!--label{-->
<!--  position: left;-->
<!--}-->

<!--</style>-->

<!--</style>-->
<div id="page_wrapper">
  <h2>Log in</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <br>
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <br>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
    <br>
  <%= render "devise/shared/links" %>
</div>